/* #region common */
:root {
    --primary: #3F3F46;
    --primary-hover: #27272A;
    --secondary: #A1A1AA;
    --bg: #F3F3F3;
    --lines: #D4D4D8;
    --sale: #F73E12;
    --disabled: #F4F4F5;
    --text_001: #111215;
    --text_003: #6A6A6A;
    --primary_2: #52525B;

}
* {
    box-sizing: border-box;
}  
html {
    scroll-behavior: smooth;
}
html,
body {
    scrollbar-gutter: stable;
}
body {
    font-family: 'Graphik LCG', sans-serif;
    background-color: #fff;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
img, video {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.remove-scrolling { 
    overflow: hidden; 
    height: 100vh;
} 

/* padding top for mobile */
main {
    padding-top: 46px;
}
@media (min-width: 1200px) {
    main {
        padding-top: 0;
    }
}

/* container */
.container {
    position: relative;
    width: calc(2480px + 40px * 2);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* design 375 mobile */
/* no quories */
/* design 768 tablet */
@media (min-width: 576px) {}
/* design 1920 desktop */
@media (min-width: 1200px) {
    .container {
        padding: 0 40px;
    }
}
/* design 2560 widescreen */
@media (min-width: 1920px) {}

.container_full-width {
    padding: 0 0;
}
/* overlay */
.overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .25s ease;
    z-index: 9;
}
.overlay_open {
    background-color: var(--primary);
    visibility: visible;
    opacity: .4;      
}
/* page title */
.page-title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.page-title {
}
.page-title__mobile {
    display: block;
    color: var(--primary);
    font-weight: 400;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.4px;
    text-decoration: none;
    margin-bottom: 10px;  
    background: url('data:image/svg+xml,<svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6668 19.6666L5.3335 12.9999L10.6668 6.33325" stroke="%233F3F46"/></svg>') no-repeat left center;  
    padding-left: 21px;
}
.page-title__desktop {
    display: none;
}
.page-title__link {
    display: flex;
    height: 44px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    border: 1px solid var(--lines);
    color: var(--primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
}
@media (min-width: 1200px) {
    .page-title-wrapper {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .page-title__mobile {
        display: none;
    }
    .page-title__desktop {
        display: block;
        font-weight: 400;
        font-size: 50px;
        line-height: 110%;
        letter-spacing: -0.4px; 
        margin-bottom: 25px;      
    } 
}
/* #endregion common */

/* #region mmenu-light */
:root {
    --mm-spn-item-height: 42px;
    --mm-spn-item-indent: 15px;
    --mm-spn-line-height: 42px;
    --mm-spn-panel-offset: 30%;
    --mm-ocd-width: 100%;
    --mm-ocd-min-width: 100%;
    --mm-ocd-max-width: 100%;
}
.mm-ocd {
    top: 46px;
}
.mm-ocd--open {
    background: transparent;
}
.mm-ocd__backdrop {
    display: none;
}
.mm-spn.mm-spn--light {
    color: var(--primary);
    background: #fff;
}
.mm-spn.mm-spn--navbar ul {
    padding-top: 16px;
}
.mm-spn.mm-spn--navbar:after {
    opacity: 1;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 2px;
}
.mm-spn a,
.mm-spn span {
    font-weight: 400;
    font-size: 16px; 
}
.mm-spn li:after {
    display: none;
}
.mm-spn.mm-spn--navbar>ul>li>a,
.mm-spn.mm-spn--navbar>ul>li>span {
    font-weight: 400;
    font-size: 22px;
}
.mm-spn a.mob-menu__mark {
    color: var(--sale);
}
.mm-spn li:before {
    right: 0;
    opacity: 1;
    transform: translate(0, -50%);
    border: none;
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33301 14.6666L10.6663 7.99998L5.33301 1.33331" stroke="%233F3F46"/></svg>') center center;
}
.mm-spn.mm-spn--navbar:before {
    left: 0;
    opacity: 1;
    width: 16px;
    height: 17px;
    border: none;
    transform: translate(50%, -50%);
    background: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6663 15.1666L5.33301 8.49998L10.6663 1.83331" stroke="%233F3F46"/></svg>') center center;
}
.mm-spn.mm-spn--navbar ul:before {
    border-top: 1px solid var(--lines);
    opacity: 1;
}
/* bottom contacts */
.mm-spn .menu-contacts a:not(:last-child):after {
    display: none;
}
.mm-spn .menu-contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 15px;
}
.mm-spn .menu-contacts__title {
    color: var(--secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
    margin-bottom: 15px;
}
.mm-spn .menu-contacts__email {
    display: block;
    width: auto!important;
    padding: 0;
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    margin-bottom: 15px;
}
.mm-spn .menu-contacts__phone {
    display: block;
    width: auto!important;
    padding: 0;
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    margin-bottom: 5px;
}
.mm-spn .menu-contacts__working-time {
    color: var(--secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
}
.mm-spn .menu-contacts__tg {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 36px;
    height: 36px;
    border: 1px solid var(--lines);
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.25478 7.23544C4.65159 6.22371 7.05491 5.22758 9.46459 4.2471C12.8975 2.87404 13.3752 2.67363 13.8393 2.66663C14.0387 2.67291 14.2306 2.74424 14.3859 2.8698C14.5801 3.03559 14.6392 3.14058 14.6558 3.23305C14.671 3.32571 14.6695 3.61436 14.653 3.77885C14.467 5.65902 13.7607 10.0013 13.3517 12.1095C13.1782 13.0005 12.8367 13.2989 12.5062 13.328C11.7889 13.3915 11.2436 12.8721 10.5484 12.4328C9.46055 11.746 9.09703 11.4933 8.04227 10.8234C6.82081 10.0497 7.32331 9.78021 8.01877 9.08521C8.20053 8.90432 11.2161 6.14274 11.2614 5.89112C11.3 5.67007 11.3139 5.64115 11.2148 5.54168C11.1142 5.44221 10.9945 5.45455 10.9174 5.47113C10.8072 5.49471 9.1466 6.54872 5.93276 8.63502C5.4398 8.96235 4.99366 9.12132 4.59287 9.11303C4.15224 9.10326 3.30275 8.87264 2.6721 8.67499C1.89677 8.43184 1.28136 8.30474 1.33644 7.89305C1.36398 7.67882 1.66948 7.45925 2.25478 7.23544Z" fill="%233F3F46"/></svg>') no-repeat center center;
}
.mob-menu:not(.mm-spn--main) .menu-contacts {
    display: none;
}
/* #endregion mmenu-light */

/* #region swiper */
/* pagination */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom {
    top: unset;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 40px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 100%;
    height: 1px;
    border-radius:0;
    background: #fff;
    opacity: .5;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
/* navigation */
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 56px;
    height: 56px;
    margin-top: -28px;
}
.swiper-button-prev {
    left: 0;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 22L8 12L16 2" stroke="white"/></svg>') no-repeat center center;
}
.swiper-button-next {
    right: 0;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 22L16 12L8 2" stroke="white"/></svg>') no-repeat center center;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}
@media (min-width: 1200px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}
/* #endregion swiper */

/* #region header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    transition: background-color .25s ease;
}
.header__wrapper {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    grid-template-rows: 46px;
    align-items: center;
    column-gap: 20px;
}
.mob-menu-toggle {
    width: 25px;
    height: 25px;
    background: url('data:image/svg+xml, <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.30078 15.8H21.7008M21.7008 10.2H3.30078" stroke="%233F3F46"/></svg>') center center;
}
.mob-menu-toggle.mob-menu-toggle--open {
    background: url('data:image/svg+xml,<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3038_130817)"><path d="M3.30078 3.79999L21.7008 22.1999M21.7008 3.79999L3.30078 22.1999" stroke="%233F3F46"/></g><defs><clipPath id="clip0_3038_130817"><rect width="20" height="20" fill="white" transform="translate(2.5 3)"/></clipPath></defs></svg>') center center;
}
.header-element {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    text-decoration: none;  
    gap: 8px;  
}
.header-element svg {
    width: 20px;
    height: 20px;
}
.header-element>span {
    display: none;
}
.header-element__count {
    background-color: #fff;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
}
/* desktop menu */
.header-menu {
    order: 1;
    display: none;  
    height: 100%;
}
.header-menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-menu__item {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-menu__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    text-decoration: none;  
}
.header-menu__link:hover {
    color: var(--primary-hover);
    text-decoration: underline;
    text-underline-offset: 4px;
}
.header__search {
    order: 2;  
}
.header__logo {
    order: 3;
    justify-self: center;   
    display: flex;
    align-items: center; 
}
.header__logo svg {
    width: 95px;
    height: 20px;
}
.header__personal {
    order: 4;
}
.header__favorite {
    order: 5;
    display: none;
}
.header__cart {
    order: 6;
}

@media (min-width: 1200px) {
    .header {
    }
    .header__wrapper {
        grid-template-columns: max-content 1fr max-content max-content max-content max-content;
        grid-template-rows: 62px;
        column-gap: 25px;
    }
    .mob-menu-toggle {
        display: none;
    }
    .header-element>span {
        display: flex;
    }
    .header-element svg {
        width: 25px;
        height: 25px;
    }
    .header-menu {
        order: 1;
        display: flex;
    }
    .header-menu__item {
    }
    .header__search {
        order: 3;    
        width: max-content;
    }
    .header__logo {
        order: 2;
        justify-self: center;    
    }
    .header__logo svg {
        width: 123px;
        height: 26px;
    }
    .header__personal {
        order: 4;
    }
    .header__favorite {
        order: 5;
        display: flex;
    }
    .header__cart {
        order: 6;
    }

    /* header opacity only desktop */
    .header_opacity {
        background-color: transparent;
    }
    .header_opacity .header-menu__link {
        color: #fff;
    }
    .header_opacity .header-menu__link svg path {
        stroke: #fff;
    }
    .header_opacity .header__logo svg path {
        fill: #fff;
    }
    .header_opacity .header-element {
        color: #fff;
    }
    .header_opacity .header-element svg path {
        stroke: #fff;
    }
    .header_opacity .header-element .header-element__count {
        background-color: var(--primary);
    }

}
@media (min-width: 1920px) {
    .header__wrapper {
        grid-template-rows: 96px;
    }
    .header-menu__link {
        font-size: 22px;
    }
    .header-element {
        font-size: 22px;
    }
    .header-element svg {
        width: 33px;
        height: 33px;
    }
    .header__logo svg {
        width: 330px;
        height: 49px;
    }
}
/* #endregion header */

/* #region megamenu */
.megamenu {
    position: absolute;
    top: 62px;
    width: 100%;
    background-color: #fff;
    margin-left: -40px;
    margin-right: -40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    max-height: 730px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s;
}
.megamenu_open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.megamenu__content {
    padding: 30px 0 30px 40px;
}
/* first level */
.megamenu__menu {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.megamenu__menu > li {
    max-width: 33%;
}
.megamenu__menu > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-decoration: none;
}
.megamenu__menu > li > a:hover {
    color: var(--primary);
    text-decoration: none;
}
.megamenu__toggle>a::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33301 14.6666L10.6663 7.99998L5.33301 1.33331" stroke="%23A1A1AA"/></svg>') no-repeat center center;
    flex-shrink: 0;
}
.megamenu__toggle_active>a {
    color: var(--primary);
}

/* highlight first level */
.megamenu__point::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2593_46399)"><circle cx="4" cy="4" r="4" fill="%2322C55E"/></g><defs><clipPath id="clip0_2593_46399"><rect width="8" height="8" fill="white"/></clipPath></defs></svg>') no-repeat center center;
}
.megamenu__mark {
    color: var(--sale)!important;
}
/* second level */
.megamenu__toggle > .megamenu__submenu {
    position: absolute;
    top: 0;
    left: 33%;
    width: 33%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.megamenu__toggle_active > .megamenu__submenu {
    opacity: 1;
    visibility: visible;
}
.megamenu__submenu a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    text-decoration: none; 
    margin-bottom: 15px;
}
.megamenu__submenu a:hover {
   text-decoration: underline;
}
/* third level items */
.megamenu__sub-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.megamenu__sub-toggle:hover > .megamenu__sub-submenu {    
    opacity: 1;
    visibility: visible;
}
.megamenu__sub-toggle>a::after {
    content: "";
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 11L8 6L4 1" stroke="%23A1A1AA"/></svg>') no-repeat center center;
}
/* megamenu photo */
.megamenu__photo {
    position: relative;
    text-decoration: none;
}
.megamenu__photo:hover .megamenu__photo-title {
    text-decoration: underline;
}
.megamenu__photo-title {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 146%;
}
/* megamenu brands */
.megamenu__submenu .megamenu-brands {
}
.megamenu__submenu .megamenu-brands__item {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 25px;
    margin: 0;
}
.megamenu-brands__icon {
    fill: var(--secondary);
}
.megamenu-brands__title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
.megamenu-brands__title span {
    color: var(--secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;  
}
.megamenu-brands__title svg {
    flex-shrink: 0;
}
.megamenu__submenu .megamenu-brands__item:hover {
    text-decoration: none; 
    background-color: var(--disabled);
}
.megamenu__submenu .megamenu-brands__item:hover .megamenu-brands__icon {
    fill: var(--primary);
}
.megamenu__submenu .megamenu-brands__item:hover .megamenu-brands__title span {
    color: var(--primary);
}
.megamenu__submenu .megamenu-brands__item:hover .megamenu-brands__title svg path {
    stroke: var(--primary);
}

@media (min-width: 1920px) {
    .megamenu {
        top: 96px;
    }
}
/* #endregion megamenu */

/* #region breadcrumb */
.breadcrumb {
    display: none;
}
.breadcrumb__list {
    display: flex;
    align-items: center;
    gap: 12px;
}
.breadcrumb__item {
    display: flex;
    align-items: center;
}
.breadcrumb__item::after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="2.25" fill="%23D4D4D8"/></svg>') no-repeat center center;
    margin-left: 12px;
}
.breadcrumb__item:last-child::after {
    display: none;
}
.breadcrumb__link {
    color: var(--secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
    letter-spacing: 0%;
    text-decoration: none;
}
.breadcrumb__link_active {
}
@media (min-width: 1200px) {
    .breadcrumb {
        display: block;
    }
}
/* #endregion breadcrumb */

/* #region pagination */
.pagination {
    margin-bottom: 25px;
    text-align: center;
}
.pagination__list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.pagination__item {
    border: 1px solid var(--lines);
    border-radius: 2px;
}
.pagination__item_current {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
}
.pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 36px;
    height: 36px;    
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    text-decoration: none;
}
.pagination__item_current .pagination__link {
    color: #fff;
}
.pagination__item_disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
}
.pagination__item_disabled .pagination__link {
    color: var(--secondary);
}
.more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid var(--lines);
    border-radius: 2px;    
}
.more__text {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;      
}
.more__text::after {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3337 5.33325L7.97949 10.6874L2.66699 5.33325" stroke="%233F3F46"/></svg>') no-repeat center center;
}
@media (min-width: 1200px) {
    .pagination {
        margin-bottom: 40px;
    }
    .pagination__list {
        margin-bottom: 30px;
    }
    .pagination__link {
        width: 44px;
        height: 44px;        
        font-size: 16px;
    }
    .more {
        height: 50px;
        width: fit-content;
    }
    .more__text {
        font-size: 18px;
  
    }
}
@media (min-width: 1920px) {
    .pagination__link {
        width: 52px;
        height: 52px;        
        font-size: 18px;
    }
    .more {
        height: 64px;
    }
    .more__text {
        font-size: 20px;
    }
}
/* #endregion pagination */

/* #region dropdown */
.dropdown {
    position: relative;
    user-select: none;
}
.dropdown__button {
    height: 36px;
    width: 100%;
    border: 1px solid var(--lines);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;   
    cursor: pointer;
}
.dropdown__button:after {
    width: 14px;
    height: 8px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646484 5.14648C0.451222 5.34175 0.451222 5.65825 0.646484 5.85352C0.841746 6.04878 1.15825 6.04878 1.35352 5.85352L6 1.20703L10.6465 5.85352C10.8417 6.04878 11.1583 6.04878 11.3535 5.85352C11.5488 5.65825 11.5488 5.34175 11.3535 5.14648L6.35352 0.146485C6.15825 -0.0487775 5.84175 -0.0487775 5.64648 0.146485L0.646484 5.14648Z" fill="%2352525B"/></svg>') no-repeat center center;
    transform: rotate(180deg);
}
.dropdown__content {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px;
    border: 1px solid var(--lines);
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
    z-index: 1;
}
.dropdown__item {
    color: var(--primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-decoration: none;  
    cursor: pointer;
    padding: 7px 16px;
}
.dropdown__item_active {
    background-color: var(--disabled);
}
.dropdown_open .dropdown__button {
}
.dropdown_open .dropdown__button:after {
    transform: rotate(0deg);
}
.dropdown_open .dropdown__content {
    display: flex;
}
/* #endregion dropdown */

/* #region footer */
.footer {
    padding: 0 0 24px 0;
}
.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "subscribe"
    "social"
    "footer-menu"
    "footer-logo"
    "apps"
    "payment-logo"
    "copyright"
    "contacts";
    row-gap: 20px;
}
.subscribe {
    grid-area: subscribe;
}
.subscribe__title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
}
.subscribe__subtitle {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    margin-bottom: 15px;
}
.subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--lines);
    border-radius: 2px;
    height: 36px;
    margin-bottom: 15px;
}
.subscribe__input {
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 0 0 0 14px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 136%;
}
.subscribe__input::placeholder {
    opacity: .5;
}
.subscribe__input:focus-visible {
    outline: none;
}
.subscribe__button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    padding: 0 14px;
}
.subscribe__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.subscribe__checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--lines);
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    margin: 0;
    flex-shrink: 0;
}
.subscribe__checkbox-input:checked {
    border: 1px solid var(--primary-hover);
    background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.62L4.9 8.3L11.4 0.5" stroke="white"/></svg>') no-repeat center center var(--primary-hover);
}
.subscribe__checkbox-label {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.subscribe__checkbox-label a {
    color: var(--primary);
}
.social {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    height: 36px; 
    border: 1px solid var(--lines); 
}
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__link:not(:last-child) {
    border-right: 1px solid var(--lines);
}
.footer-menu {
    grid-area: footer-menu;
    display: grid;
    grid-template-columns: 1fr;    
}
.footer-menu__block {
    border-bottom: 1px solid var(--lines);
    padding-top: 15px;
}
.footer-menu__block:first-child {
    padding-top: 0;
}
.footer-menu__title {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 146%;
}
.footer-menu__nav {
    column-count: 2;
    column-gap: 15px;
    padding: 20px 0;
}
.footer-menu__link {
    display: block;
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    text-decoration: none;
    margin-bottom: 15px;
}
.footer-logo {
    grid-area: footer-logo;
    padding: 15px 0;
}
.apps {
    grid-area: apps;
}
.apps__wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.apps__link {}
.apps__image {}
.apps__title {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.payment-logo {
    grid-area: payment-logo;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.payment-logo__image {
    object-fit: none;
}
.copyright {
    grid-area: copyright;
}
.copyright__wrapper {
    display: flex;
    gap: 15px;    
    margin-bottom: 10px;
}
.copyright__text,
.copyright__link,
.copyright__message {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.copyright__link {
    text-decoration-line: underline;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.contacts {
    grid-area: contacts;
}
.contacts__address,
.contacts__email,
.contacts__phone {
    display: block;
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    text-decoration: none;
    margin-bottom: 5px;
}
@media (min-width: 576px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "subscribe subscribe"
        "social social"
        "footer-menu footer-menu"
        "footer-logo footer-logo"
        "apps payment-logo"
        "copyright contacts";
        column-gap: 20px;
    }
    .footer-menu__nav {
        column-count: 3;
    }
}
@media (min-width: 1200px) {
    .footer {
        padding: 0 0 30px 0;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "footer-menu footer-menu social subscribe"
        "footer-logo footer-logo footer-logo footer-logo"
        "copyright contacts apps payment-logo";
        column-gap: 20px;
    }
    .subscribe__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 146%;
        letter-spacing: 0;
    }
    .subscribe__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
        margin-bottom: 25px;
    }
    .subscribe__form {
        height: 44px;
        margin-bottom: 25px;
    }
    .subscribe__input {
        font-size: 16px;
        font-weight: 400;
        line-height: 136%;
    }
    .subscribe__checkbox-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .social {
        grid-template-columns: repeat(4, 41px);  
        height: 41px; 
        width: fit-content;
    }
    .footer-menu {
        grid-template-columns: 1fr 1fr 1fr;    
    }
    .footer-menu__block {
        border-bottom: none;
        padding-top: 0;
    }
    .footer-menu__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 146%;
        margin-bottom: 15px;
    }
    .footer-menu__nav {
        column-count: 1;
        padding: 0;
    }
    .footer-menu__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .footer-logo {
        padding: 50px 0;
    }
    .apps__link {}
    .apps__image {}
    .apps__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .payment-logo {
        justify-content: flex-end;
    }
    .payment-logo__image {}
    .copyright__text,
    .copyright__link,
    .copyright__message {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .contacts__address,
    .contacts__email,
    .contacts__phone {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
}
@media (min-width: 1920px) {
    .footer {
        padding: 0 0 24px 0;
    }
    .subscribe__title {
        font-size: 24px;
    }
    .subscribe__subtitle {
        font-size: 16px;
    }
    .subscribe__form {
        height: 52px;
    }
    .subscribe__input {
        font-size: 18px;
    }
    .subscribe__checkbox-label {
        font-size: 16px;
    }
    .footer-menu__title {
        font-size: 24px;
    }
    .footer-menu__link {
        font-size: 16px;
    }
    .footer-logo {
        padding: 64px 0;
    }
    .apps__link {}
    .apps__image {}
    .apps__title {
        font-size: 16px;
    }
    .payment-logo__image {}
    .copyright__text,
    .copyright__link,
    .copyright__message {
        font-size: 16px;
    }
    .contacts__address,
    .contacts__email,
    .contacts__phone {
        font-size: 16px;
    }
}
/* #endregion footer */

/* #region scroll-to-top */ 
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 20;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0038 22V2M12.0038 2L2.00401 12M12.0038 2L22.0038 12" stroke="%233F3F46"/></svg>') no-repeat center center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}
@media (min-width: 1200px) {
    .scroll-to-top {
        bottom: 40px;
        right: 20px;
    }
}
/* #endregion scroll-to-top */