/* #region common */
:root {
    --primary: #3F3F46;
    --primary-hover: #27272A;
    --secondary: #A1A1AA;
    --bg: #F3F3F3;
    --lines: #D4D4D8;
    --sale: #F73E12;
    --disabled: #F4F4F5;
    --text_003: #6A6A6A;

}
* {
    box-sizing: border-box;
}  
html,
body {
    scrollbar-gutter: stable;
}
body {
    font-family: 'Graphik LCG', sans-serif;
    background-color: #fff;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
img, video {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.remove-scrolling { 
    overflow: hidden; 
    height: 100vh;
} 
/* container */
.container {
    position: relative;
    width: calc(2480px + 40px * 2);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* design 375 mobile */
/* no quories */
/* design 768 tablet */
@media (min-width: 576px) {}
/* design 1920 desktop */
@media (min-width: 1200px) {
    .container {
        padding: 0 40px;
    }
}
/* design 2560 widescreen */
@media (min-width: 1920px) {}

.container_full-with {
    padding: 0 0;
}

/* mmenu-light css */
:root {
    --mm-spn-item-height: 42px;
    --mm-spn-item-indent: 15px;
    --mm-spn-line-height: 42px;
    --mm-spn-panel-offset: 30%;
    --mm-ocd-width: 100%;
    --mm-ocd-min-width: 100%;
    --mm-ocd-max-width: 100%;
}
.mm-ocd {
    top: 46px;
}
.mm-ocd--open {
    background: transparent;
}
.mm-ocd__backdrop {
    display: none;
}
.mm-spn.mm-spn--light {
    color: var(--primary);
    background: #fff;
}
.mm-spn.mm-spn--navbar ul {
    padding-top: 16px;
}
.mm-spn.mm-spn--navbar:after {
    opacity: 1;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
}
.mm-spn a,
.mm-spn span {
    font-weight: 400;
    font-size: 16px; 
}
.mm-spn li:after {
    display: none;
}
.mm-spn.mm-spn--navbar>ul>li>a,
.mm-spn.mm-spn--navbar>ul>li>span {
    font-weight: 400;
    font-size: 22px;
}
.mm-spn li.mob-menu__submenu {
    border-top: 1px solid var(--lines);
    margin-top: 26px;
    padding-top: 7px;
}
.mm-spn li.mob-menu__submenu:before {
    display: none;
}
.mm-spn li.mob-menu__submenu a:after {
    display: none;
}
.mm-spn a.mob-menu__mark {
    color: var(--sale);
}
.mm-spn li:before {
    right: 0;
    opacity: 1;
    transform: translate(0, -50%);
    border: none;
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33301 14.6666L10.6663 7.99998L5.33301 1.33331" stroke="%233F3F46"/></svg>') center center;
}
.mm-spn.mm-spn--navbar:before {
    left: 0;
    opacity: 1;
    width: 25px;
    height: 17px;
    border: none;
    transform: translate(50%, -50%);
    background: url('data:image/svg+xml,<svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.4997 1.8333L5.83301 8.49997M5.83301 8.49997L12.4997 15.1666M5.83301 8.49997H19.1663" stroke="%233F3F46"/></svg>') center center;
}
.mm-spn.mm-spn--navbar ul:before {
    border-top: 1px solid var(--lines);
    opacity: 1;
}

/* swiper css */
/* pagination */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 40px;
}
.swiper-pagination-bullet {
    width: 100%;
    height: 1px;
    border-radius:0;
    background: #fff;
    opacity: .5;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
/* navigation */
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 56px;
    height: 56px;
    margin-top: -28px;
}
.swiper-button-prev {
    left: 0;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 22L8 12L16 2" stroke="white"/></svg>') no-repeat center center;
}
.swiper-button-next {
    right: 0;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 22L16 12L8 2" stroke="white"/></svg>') no-repeat center center;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}
@media (min-width: 1200px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}
/* #endregion common */

/* #region header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
}
.header__wrapper {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    grid-template-rows: 46px;
    align-items: center;
    column-gap: 20px;
}
.mob-menu-toggle {
    width: 25px;
    height: 25px;
    background: url('data:image/svg+xml, <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.30078 15.8H21.7008M21.7008 10.2H3.30078" stroke="%233F3F46"/></svg>') center center;
}
.mob-menu-toggle.mob-menu-toggle--open {
    background: url('data:image/svg+xml,<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3038_130817)"><path d="M3.30078 3.79999L21.7008 22.1999M21.7008 3.79999L3.30078 22.1999" stroke="%233F3F46"/></g><defs><clipPath id="clip0_3038_130817"><rect width="20" height="20" fill="white" transform="translate(2.5 3)"/></clipPath></defs></svg>') center center;
}
.header-element {
    display: flex;
    align-items: flex-end;
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    text-decoration: none;  
    gap: 8px;  
}
.header-element>span {
    display: none;
}
.header-menu {
    order: 1;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    display: none;
}
.header-menu__item_catalog {
    height: 100%;
    align-items: center;
}
.header-menu__item_catalog:hover + .megamenu,
.megamenu:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
@media (hover: hover) {
    .header-menu__item:hover {
        color: var(--primary-hover);
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}
.header__search {
    order: 2;  
}
.header__logo {
    order: 3;
    justify-self: center;    
}
.header__personal {
    order: 4;
}
.header__favorite {
    order: 5;
    display: none;
}
.header__cart {
    order: 6;
}
@media (min-width: 1200px) {
    .header {
        background-color: rgba(255, 255, 255, 0.85);
    }
    .header__wrapper {
        grid-template-columns: max-content 1fr max-content max-content max-content max-content;
        grid-template-rows: 62px;
        column-gap: 25px;
    }
    .mob-menu-toggle {
        display: none;
    }
    .header-element>span {
        display: flex;
    }
    .header-menu {
        order: 1;
        display: flex;
    }
    .header-menu__item {
    
    }
    .header-menu__item_catalog {
    }
    .header__search {
        order: 3;    
        width: max-content;
    }
    .header__logo {
        order: 2;
        justify-self: center;    
    }
    .header__personal {
        order: 4;
    }
    .header__favorite {
        order: 5;
        display: block;
    }
    .header__cart {
        order: 6;
    }
}
@media (min-width: 1920px) {
    .header__wrapper {
        grid-template-rows: 72px;
    }
}
/* #endregion header */

/* #region megamenu */
.megamenu {
    position: absolute;
    top: 62px;
    width: 100%;
    background-color: #fff;
    margin-left: -40px;
    margin-right: -40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    max-height: 730px;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}
.megamenu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}
.megamenu__main {
    position: relative;
}
.megamenu__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.megamenu__menu > li {
    padding-left: 40px;
}
.megamenu__menu > li > a {
    display: block;
    color: var(--secondary);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-decoration: none;
}
.megamenu__menu > li:hover > a {
    color: var(--primary);
    text-decoration: none;
}
/* second leve */
.megamenu__menu .megamenu__submenu {
    position: absolute;
    top: 0;
    left: 30%;
    min-width: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    column-count: 2;
    column-gap: 20px;
}
.megamenu__menu > li:hover > .megamenu__submenu {
    opacity: 1;
    visibility: visible;
}
/* Second level items */
.megamenu__menu .megamenu__submenu li a {
    display: block;
    color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    text-decoration: none; 
    margin-bottom: 15px;
}
.megamenu__menu .megamenu__submenu > li:hover > a {
   text-decoration: underline;
}
.megamenu__mark {
    color: var(--sale)!important;
}
.megamenu__bottom {
    display: flex;
    gap: 20px;
    padding-left: 40px;    
}
.megamenu__bottom a {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;  
    text-decoration: none; 
    white-space: nowrap;
}
.megamenu__photo {
    position: relative;
    text-decoration: none;
}
.megamenu__photo:hover .megamenu__photo-title {
    text-decoration: underline;
}
.megamenu__photo-title {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 146%;
}
/* #endregion megamenu */

/* #region footer */
.footer {
    padding: 0 0 24px 0;
}
.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "subscribe"
    "social"
    "footer-menu"
    "footer-logo"
    "apps"
    "payment-logo"
    "copyright"
    "contacts";
    row-gap: 20px;
}
.subscribe {
    grid-area: subscribe;
}
.subscribe__title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
}
.subscribe__subtitle {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    margin-bottom: 15px;
}
.subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--lines);
    border-radius: 2px;
    height: 36px;
    margin-bottom: 15px;
}
.subscribe__input {
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 0 0 0 14px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 136%;
}
.subscribe__input::placeholder {
    opacity: .5;
}
.subscribe__input:focus-visible {
    outline: none;
}
.subscribe__button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    padding: 0 14px;
}
.subscribe__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.subscribe__checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--lines);
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    margin: 0;
}
.subscribe__checkbox-input:checked {
    border: 1px solid var(--primary-hover);
    background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.62L4.9 8.3L11.4 0.5" stroke="white"/></svg>') no-repeat center center var(--primary-hover);
}
.subscribe__checkbox-label {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.subscribe__checkbox-label a {
    color: var(--primary);
}
.social {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    height: 36px; 
    border: 1px solid var(--lines); 
}
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__link:not(:last-child) {
    border-right: 1px solid var(--lines);
}
.footer-menu {
    grid-area: footer-menu;
    display: grid;
    grid-template-columns: 1fr;    
}
.footer-menu__block {
    border-bottom: 1px solid var(--lines);
    padding-top: 15px;
}
.footer-menu__block:first-child {
    padding-top: 0;
}
.footer-menu__title {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 146%;
}
.footer-menu__nav {
    column-count: 2;
    column-gap: 15px;
    padding: 20px 0;
}
.footer-menu__link {
    display: block;
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    text-decoration: none;
    margin-bottom: 15px;
}
.footer-logo {
    grid-area: footer-logo;
    padding: 15px 0;
}
.apps {
    grid-area: apps;
}
.apps__wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.apps__link {}
.apps__image {}
.apps__title {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.payment-logo {
    grid-area: payment-logo;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.payment-logo__image {
    object-fit: none;
}
.copyright {
    grid-area: copyright;
}
.copyright__wrapper {
    display: flex;
    gap: 15px;    
    margin-bottom: 10px;
}
.copyright__text,
.copyright__link,
.copyright__message {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
}
.copyright__link {
    text-decoration-line: underline;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.contacts {
    grid-area: contacts;
}
.contacts__address,
.contacts__email,
.contacts__phone {
    display: block;
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    text-decoration: none;
    margin-bottom: 5px;
}
@media (min-width: 576px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "subscribe subscribe"
        "social social"
        "footer-menu footer-menu"
        "footer-logo footer-logo"
        "apps payment-logo"
        "copyright contacts";
        column-gap: 20px;
    }
    .footer-menu__nav {
        column-count: 3;
    }
}
@media (min-width: 1200px) {
    .footer {
        padding: 0 0 30px 0;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "footer-menu footer-menu social subscribe"
        "footer-logo footer-logo footer-logo footer-logo"
        "copyright contacts apps payment-logo";
        column-gap: 20px;
    }
    .subscribe__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 146%;
        letter-spacing: 0;
    }
    .subscribe__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
        margin-bottom: 25px;
    }
    .subscribe__form {
        height: 44px;
        margin-bottom: 25px;
    }
    .subscribe__input {
        font-size: 16px;
        font-weight: 400;
        line-height: 136%;
    }
    .subscribe__checkbox-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .social {
        grid-template-columns: repeat(4, 41px);  
        height: 41px; 
        width: fit-content;
    }
    .footer-menu {
        grid-template-columns: 1fr 1fr 1fr;    
    }
    .footer-menu__block {
        border-bottom: none;
        padding-top: 0;
    }
    .footer-menu__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 146%;
        margin-bottom: 15px;
    }
    .footer-menu__nav {
        column-count: 1;
        padding: 0;
    }
    .footer-menu__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .footer-logo {
        padding: 50px 0;
    }
    .apps__link {}
    .apps__image {}
    .apps__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .payment-logo {
        justify-content: flex-end;
    }
    .payment-logo__image {}
    .copyright__text,
    .copyright__link,
    .copyright__message {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
    .contacts__address,
    .contacts__email,
    .contacts__phone {
        font-size: 14px;
        font-weight: 400;
        line-height: 132%;
    }
}
@media (min-width: 1920px) {
    .footer {
        padding: 0 0 24px 0;
    }
    .subscribe__title {
        font-size: 24px;
    }
    .subscribe__subtitle {
        font-size: 16px;
    }
    .subscribe__form {
        height: 52px;
    }
    .subscribe__input {
        font-size: 18px;
    }
    .subscribe__checkbox-label {
        font-size: 16px;
    }
    .footer-menu__title {
        font-size: 24px;
    }
    .footer-menu__link {
        font-size: 16px;
    }
    .footer-logo {
        padding: 64px 0;
    }
    .apps__link {}
    .apps__image {}
    .apps__title {
        font-size: 16px;
    }
    .payment-logo__image {}
    .copyright__text,
    .copyright__link,
    .copyright__message {
        font-size: 16px;
    }
    .contacts__address,
    .contacts__email,
    .contacts__phone {
        font-size: 16px;
    }
}
/* #endregion footer */
